<!-- <h1>Adult Return Form</h1> -->
<h4 style="margin-left: 20px; margin-top:0px; margin-bottom:0px;">{{ formName }}</h4>
<div class="container-fluid scoped-bootstrap" style="margin:5px; margin-left: 20px; margin-top:0px;">
    <!-- <error-renderer [form]="form"></error-renderer> -->
    <form *ngIf="formSchema" [formGroup]="form.rootNode.control">
        <form-renderer [node]="form.rootNode"></form-renderer>
        <input type="submit" value="Save" (click)="onSubmit($event)"  class="omrs-btn omrs-filled-action">
        <input type="button" value="Cancel" (click)="onCancel()" class="omrs-btn omrs-outlined-destructive pull-right">
    </form>
</div>